@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
 
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Add these styles in your globals.css */

@layer components {
  .zoom-container {
    position: relative;
    overflow: hidden;
  }

  .zoom-container img {
    transition: transform 0.3s ease-in-out;
  }

  .zoom-container:focus img,
  .zoom-container:hover img {
    transform: scale(1.5);
    cursor: zoom-in;
  }
}

/* Вставьте эти стили в ваш globals.css или создайте отдельный CSS модуль */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 24px;
  height: 18px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 2px;
  width: 100%;
  background: black;
}

.menu {
  transition: transform 0.3s ease;
  transform-origin: top right;
}

.hamburger-top, .hamburger-middle, .hamburger-bottom {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3s;
}

.hamburger-top {
  top: 0;
}

.hamburger-middle {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger-bottom {
  bottom: 0;
}

.hamburger.open .hamburger-top {
  transform: rotate(45deg);
  top: 50%;
}

.hamburger.open .hamburger-middle {
  opacity: 0;
}

.hamburger.open .hamburger-bottom {
  transform: rotate(-45deg);
  bottom: 50%;
}

.video-container {
  position: relative;
  width: 100%;   /* Занимает всю доступную ширину */
  height: 0;     /* Начальная высота 0 для поддержания пропорций */
  padding-top: 56.25%; /* Соотношение сторон 16:9, адаптируется под ширину экрана */
  overflow: hidden; /* Скрывает части видео, которые выходят за границы контейнера */
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%); /* Центрирует видео */
  object-fit: cover; /* Обрезает края, чтобы заполнить контейнер полностью */
}